.jumbotron{
  margin-top: 20px;
  padding: 30px;
}

input{
  transform: scale(1.6);
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

.vermelho{
  color: red;
}

.teste:hover{
  color:grey;
  cursor: pointer;
}
